<nav>
    <ul>
      <li><a href="#" id="buttonone" >HOME</a></li>
      <li><a href="#" >MY WORK</a></li>
      <li><a href="#" data-target="about.html">ABOUT ME</a></li>
      <li><a href="#" data-target="services.html">SERVICES</a></li>
      <li><a href="#" data-target="contact.html">CONTACT ME</a></li>
    </ul>
  </nav>

  <!-- content div -->

  <div id="content">

  </div>

  <!-- footer -->
  <section>
  </section>
  <footer>
    <p>Copyright &copy; 2017, All Rights Reserved</p>
  </footer>


  C:\Users\MANU-PC\Downloads\ajax-jquery-tutorial-master\ajax-jquery-tutorial-master\views\test-content.html

  --allow-file-access-from-files --disable-web-security